@model StudentManagementTN.Models.Principal

@{
    ViewBag.Title = "Portal";
}

<div class="d-grid gap-lg-5">
    <h2 class="text-center">Principal Portal</h2>
    @Html.ActionLink("Student Management", "Index", "Students", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Teacher Management", "Index", "Teachers", new { area = "" }, new { @class = "btn btn-lg btn-secondary" })
</div>

