@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="d-grid gap-lg-5">
        <h2 class="text-center">Student Management</h2>
        @Html.ActionLink("Student Portal", "Login", "Students", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Teacher Portal", "Login", "Teachers", new { area = "" }, new { @class = "btn btn-lg btn-secondary" })
        @Html.ActionLink("Principal Portal", "Login", "Principals", new { area = "" }, new { @class = "btn btn-lg btn-dark" })
    </div>
</main>